@import "variables.less";

#mw-wrapper {
	max-width: 60em;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.mw-body {
	width: 46em;
	border-left: 1px solid black;
	float: right;
	padding-top: 6em;
}

#p-logo,
#mw-navigation {
	width: 10em;
	padding-left: 1em;
	clear: left;
	float: left;
}

#p-personal ul li {
	display: inline-block;
	margin-right: 1em;
}
#p-namespaces, #p-views, #p-actions {
	float: left;
	margin-right: 1em;
}
#p-navigation {
	clear: both;
}
