<div id="mw-wrapper">
	<div class="mw-body" id="content" role="main">
		<div id="siteNotice">{{{html-site-notice}}}</div>
		{{{html-user-message}}}
		<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
		<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
		</div>
		<h1 class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
		<div id="siteSub">{{msg-tagline}}</div>
		<div class="mw-body-content">
			<div id="contentSub">
				{{{html-subtitle}}}
				{{{html-undelete-link}}}
			</div>
			{{{html-body-content}}}
			<!-- todo: replace with .mixin-clearfix -->
			<div class="visualClear"></div>
			{{{html-categories}}}
		</div>
		{{{html-after-content}}}
	</div>
	<div id="mw-navigation">
		<h2>{{msg-navigation-heading}}</h2>
		<div id="p-logo" class="mw-portlet" role="banner">
			<a href="{{link-mainpage}}">
			{{#data-logos}}
				{{#icon}}<img src="{{.}}" width="40" height="40">{{/icon}}
				{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
				{{^wordmark}}<h1>{{msg-sitetitle}}</h1>{{/wordmark}}
			{{/data-logos}}
			</a>
		</div>
		{{#data-search-box}}
		<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
			<input type="hidden" name="title" value="{{page-title}}">
			<h3>
				<label for="searchInput">{{msg-search}}</label>
			</h3>
			{{{html-input}}}
			{{{html-button-search}}}
		</form>
		{{/data-search-box}}
		{{#data-portlets}}
		<div id="user-tools">
			{{#data-personal}}{{>Portlet}}{{/data-personal}}
		</div>
		<div id="page-tools">
			{{#data-namespaces}}{{>Portlet}}{{/data-namespaces}}
			{{#data-variants}}{{>Portlet}}{{/data-variants}}
			{{#data-views}}{{>Portlet}}{{/data-views}}
			{{#data-actions}}{{>Portlet}}{{/data-actions}}
		</div>
		{{/data-portlets}}
		<div id="site-navigation">
			{{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
			{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
			{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		</div>
	</div>
	<div id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
		{{#data-footer}}
		{{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
		{{!}}<div id="footer-list">
		{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
		{{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
		{{!}}</div>
		{{/data-footer}}
		<!-- todo: replace with .mixin-clearfix -->
		<div class="visualClear"></div>
	</div>
</div>
